<div class="login-container" ng-if="!authenticated">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h4 class="site-title">ENTSoft</h4>
            <h5 class="site-subtitle">Appointment Booking</h5>
        </div>
    </div>
    <form novalidate>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <input ng-model="user.firstName" type="text" required placeholder="First Name"
                       class="form-control input-lg"/>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <input required="required" ng-model="user.lastName" type="text" placeholder="Last Name"
                       class="form-control input-lg"/>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <input required="required" ng-model="user.contactNo" maxlength="10" type="phone"
                       placeholder="Contact No"
                       class="form-control input-lg"/>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4" ng-controller="DatePickerCtrl">
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="user.datedOn"
                           is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true"
                           close-text="Close" alt-input-formats="altInputFormats"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open1()"><i
                                class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4" align="center">
                <button type="submit" ng-click="book()" class="btn btn-lg btn-success">Book</button>
            </div>
        </div>
    </form>
    <br/>
    <div class="row" ng-if="message">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div align="center" class="alert" ng-class="{'alert-success':success,'alert-danger':!success}">{{message}}
            </div>
        </div>
    </div>
</div>