<!DOCTYPE html>
<html lang="en" ng-app="ENTSoftUI">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ENTSoft</title>
    <script type="text/javascript" src="node_modules/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <!-- Bootstrap Config -->
    <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css">

    <!-- Bootstrap Config -->
    <script type="text/javascript" src="node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="node_modules/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="node_modules/angular-cookies/angular-cookies.js"></script>
    <script type="text/javascript" src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script type="text/javascript" src="scripts/app.js"></script>
    <!-- Controllers -->
    <script type="text/javascript" src="scripts/controllers/AppointmentCtrl.js"></script>
    <script type="text/javascript" src="scripts/controllers/HomeCtrl.js"></script>
    <script type="text/javascript" src="scripts/controllers/DatePickerCtrl.js"></script>
    <script type="text/javascript" src="scripts/controllers/AuthenticationCtrl.js"></script>
    <!-- Services -->
    <script type="text/javascript" src="scripts/services/AuthenticationService.js"></script>
    <script type="text/javascript" src="scripts/services/AppointmentService.js"></script>
    <!-- Components -->
    <script type="text/javascript" src="scripts/components/AppointmentAction.js"></script>
    <!-- Validators -->
    <script type="text/javascript" src="scripts/validators/CustomValidators.js"></script>
</head>
<body>
<div class="container">
    <header ng-if="authenticated">
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#/home">ENTSoft</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#/home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#/manageprofile">Manage Profile</a>
                    </li>
                    <li ng-show="$rootScope.admin" class="nav-item">
                        <a href="#/admin">Administration</a>
                    </li>
                </ul>
                <form class="form-inline mt-2 mt-md-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
                </form>
            </div>
        </nav>
    </header>
    <br/><br/><br/>
    <div ng-if="authenticated" class="masthead">
        <h3 class="text-info">
            <div class="row">
                <div class="col-md-2">
                    <div class="site-title">{{usr.teamName}}</div>
                    <div class="site-subtitle">{{usr.name}}</div>
                </div>
                <div class="col-md-8" align="center">
                </div>
            </div>
        </h3>
    </div>
    <div id="content-area" ng-view></div>
</div>
<footer class="footer">
    <div class="container">
        <div class="row footer-row">
            <div class="col-md-4"></div>
            <div align="center" class="col-md-4 copyright">&copy; Anand Muley</div>
        </div>
    </div>
</footer>
</body>
</html>